<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="one_adrd3161">

<ros2_control name="one_adrd3161_control" type="system">
    <hardware>
        <plugin>canopen_ros2_control/Cia402System</plugin>
        <param name="bus_config">$(find adrd3161_tests)/config/canopen_one_adrd3161/bus.yml</param>
        <param name="master_config">$(find adrd3161_tests)/config/canopen_one_adrd3161/master.dcf</param>
        <param name="master_bin"></param>
        <param name="can_interface_name">$(arg can_iface)</param>
    </hardware>

    <!-- `name` must match joint declared outside of the <ros2_control> block and joint name specified in controller params -->
    <joint name="dut_adrd3161_joint">
        <param name="device_name">dut_adrd3161</param> <!-- node name, may be unrelated to joint name -->
        <param name="node_id">23</param>

        <command_interface name="velocity"></command_interface>
        <command_interface name="position"></command_interface>
        <state_interface name="velocity"/>
        <state_interface name="position"/>
    </joint>
</ros2_control>

<link name="base_link">
</link>

</robot>

