[Desktop Entry]
Type=Application
Terminal=true
Name=Print ADALM2000 Label
Icon=utilities-terminal
Exec=sh -c "cd \$HOME/production-tests/pluto-m2k/print; python pgui-adalm2000.py"
Categories=Application;
